* {
  margin: 0;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  box-sizing: border-box;
}

/* body {
  background: #ffffff url(https://t4.ftcdn.net/jpg/01/97/36/41/360_F_197364184_GMEATxvgys4s6AOFoDycPZZeE0oOdMjj.jpg) center center/auto repeat fixed;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  max-width: 100%;
  padding-top: 2rem;
}
@media (max-width: 768px) { /* You can adjust the max-width to your specific needs */
  .container {
    width: 100%;
  }
}

.about-title {
  font-family: "Tw Cen MT Condensed Extra Bold", sans-serif;
  color: #77212e;
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 2px solid #222;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: large;
}

@media screen and (max-width: 768px) {
  .about-title {
    width: 50%;
  }
}