<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W8198BVB2G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-W8198BVB2G");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TVMZ9K89");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "Partridgewood Projects",
        "description": "We offer a range of professional services to enhance your property.",
        "url": "https://www.partridgewoodprojects.co.za/services",
        "image": "https://www.partridgewoodprojects.co.za/assets/pictures/2.jpg",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "26 Brackenhill Road",
          "addressLocality": "Johannesburg",
          "addressRegion": "Guateng",
          "postalCode": "2191",
          "addressCountry": "South Africa"
        },
        "telephone": "+27614284712",
        "email": "partridgewoodprojects@gmail.com",
        "openingHours": "Mo-Fr 07:30-17:00",
        "hasMap": "https://maps.app.goo.gl/NBAb66PP7Pyj8Tmx8",
        "serviceArea": {
          "@type": "GeoShape",
          "polygon": "-25.979174 28.130686, -26.021928 27.987108, -26.101618 27.968627, -26.189876 28.037007, -26.163008 28.084318, -26.110247 28.093928, -26.019936 28.149371",
          "box": "-26.212913 28.146607, -25.983289 27.944816"
        }
      }
    </script>
    <!-- End Google Tag Manager -->
    <title>Partridgewood Projects About Us Page</title>
    <style>
      .row {
        display: flex;
        flex-direction: column; /* Change flex-direction to column */
        align-items: center;
        text-align: center;
      }

      .column {
        padding: 15px;
      }

      .image {
        width: 90%;
      }

      @import url("https://fonts.cdnfonts.com/css/tw-cen-mt-condensed");
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="about" content="About Partridgewood Projects" />
  </head>
  <body
    style="
      background-image: url('assets/pictures/aboutBackground.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(255, 255, 255, 0.5);
    "
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TVMZ9K89"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="col-xl-12 text-center mb-4">
        <div class="about-title">
          <h3>About Us</h3>
        </div>
      </div>
      <div class="row">
        <div class="column p-4">
          <h3 class="p-4">Company Story</h3>
          <p>
            Partridgewood Projects has its roots tracing back to George in the
            Western Cape, where our journey in the building industry began over
            two decades ago. In 2015, we took our passion for crafting quality
            spaces and founded our company in the vibrant city of Johannesburg.
            With a wealth of experience and a strong foundation, we've continued
            to grow and evolve. Over the years, we've honed our skills,
            developed a robust team of experts, and expanded our service
            offerings. Today, Partridgewood Projects stands as a testament to
            our dedication to the craft of construction, serving the community
            with top-tier building and renovation solutions.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="column p-5">
          <h3 class="p-4">Our Missions and Values</h3>
          <p>
            At Partridgewood Projects, our mission is to set the industry
            standard for excellence in building and construction. We're
            committed to delivering perfection in every project we undertake,
            ensuring that each space we touch becomes a masterpiece. Our values
            are deeply ingrained in everything we do. We prioritize precision
            and care in our work, using only the finest materials available.
            This commitment to quality extends to our relationships with clients
            and partners. We value transparency, integrity, and open
            communication, ensuring every project is a collaborative effort
            where trust is the cornerstone of our partnerships.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="column p-5">
          <h3 class="p-4">What we offer to you as our client</h3>
          <p>
            When you choose Partridgewood Projects, you gain access to a world
            of construction and renovation expertise. We provide a comprehensive
            range of services, from painting, damp proofing, and tiling to the
            installation of doors, seamless gutters, and aluminum windows,
            including stacking and sliding doors. With an unwavering commitment
            to perfection, we ensure your project is executed with the utmost
            care and precision, using only the highest-quality materials
            available. When you entrust your building and alteration needs to
            us, you gain a partner dedicated to transforming your vision into a
            reality, with a result that speaks of craftsmanship and quality.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
