<html>
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W8198BVB2G"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-W8198BVB2G");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TVMZ9K89");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "Partridgewood Projects",
        "description": "We offer a range of professional services to enhance your property.",
        "url": "https://www.partridgewoodprojects.co.za/services",
        "image": "https://www.partridgewoodprojects.co.za/assets/pictures/2.jpg",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "26 Brackenhill Road",
          "addressLocality": "Johannesburg",
          "addressRegion": "Guateng",
          "postalCode": "2191",
          "addressCountry": "South Africa"
        },
        "telephone": "+27614284712",
        "email": "partridgewoodprojects@gmail.com",
        "openingHours": "Mo-Fr 07:30-17:00",
        "hasMap": "https://maps.app.goo.gl/NBAb66PP7Pyj8Tmx8",
        "serviceArea": {
          "@type": "GeoShape",
          "polygon": "-25.979174 28.130686, -26.021928 27.987108, -26.101618 27.968627, -26.189876 28.037007, -26.163008 28.084318, -26.110247 28.093928, -26.019936 28.149371",
          "box": "-26.212913 28.146607, -25.983289 27.944816"
        }
      }
    </script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Contact Us Page</title>
    <meta
      name="description"
      content="Contact Partridgewood projects by email or through Whatsapp"
    />
    <link rel="stylesheet" href="contact.component.css" />
    <!-- Google tag (gtag.js) -->
  </head>
  <body class="d-flex justify-content-between flex-wrap">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TVMZ9K89"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="firstcard">
      <div class="col">
        <div class="card card1">
          <div class="card1-header fs-4 p-3"><b>Contact Details</b></div>
          <div class="card1-body">
            <div>
              Please feel free to contact us directly if you have any questions
              or if you want a quote on a service you need,<br />
              or fill in our form to get a response that is more specific.
            </div>
            <br />
            <div>
              <b><u>Contact Trevor:</u></b>
            </div>
            <br />
            <div>
              <b>Cell Number:</b>
              <div>061 428 4712</div>
            </div>
            <br />
            <div>
              <b>Email Address:</b>
              <div>
                <a href="mailto:partridgewoodprojects@gmail.com"
                  >partridgewoodprojects@gmail.com</a
                >
              </div>
            </div>
            <div class="whatsapplink">
              Alternatively, you can message us on WhatsApp:
              <div class="icondescription">(click the whatsapp icon)</div>
              <div class="icon">
                <a href="https://api.whatsapp.com/send?phone=27614284712">
                  <img
                    src="assets/pictures/whatsapp.PNG"
                    width="60"
                    height="60"
                    alt="Contact us on whatsapp"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <form [formGroup]="contactForm">
        <h3>GET IN TOUCH</h3>
        <input
          type="text"
          formControlName="name"
          placeholder="Your Name"
          required
        />
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          required
        />
        <input
          type="text"
          formControlName="contactNumber"
          placeholder="Phone number"
          required
        />
        <textarea
          formControlName="message"
          rows="4"
          placeholder="How can we help you?"
        ></textarea>
        <button (click)="sendEmail()" type="submit">Send</button>
      </form>
    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229351.36280424942!2d27.88096408646337!3d-26.078834452618132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa88bdb0e9f4eb5bd%3A0xbf11f7344fe48cce!2sPartridgewood%20Projects!5e0!3m2!1sen!2sza!4v1704883122145!5m2!1sen!2sza"
       width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </body>
</html>
