<div class="container">
  <div class="col-xl-12 text-center mb-4">
    <div class="photos-title">
      <h1>Photo Gallery</h1>
    </div>
  </div>
  <div class="box">
    <div class="dream">
      <img src="assets/pictures/1.jpg" alt="Building renovation project in Johannesburg - Partridgewood Projects construction work" (click)="openLightbox(getImageIndex('1.jpg'))" />
      <img src="assets/pictures/2.jpg" alt="Professional painting service in Johannesburg - Partridgewood Projects exterior painting" (click)="openLightbox(getImageIndex('2.jpg'))" />
      <img src="assets/pictures/3.jpg" alt="Home renovation and alterations in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('3.jpg'))" />
      <img src="assets/pictures/4.jpg" alt="Quality tiling installation in Johannesburg - Partridgewood Projects tiling services" (click)="openLightbox(getImageIndex('4.jpg'))" />
      <img src="assets/pictures/5.jpg" alt="Damp proofing treatment in Johannesburg - Partridgewood Projects waterproofing" (click)="openLightbox(getImageIndex('5.jpg'))" />
      <img src="assets/pictures/19.jpg" alt="Door installation in Johannesburg - Partridgewood Projects door and window fitting" (click)="openLightbox(getImageIndex('19.jpg'))" />
      <img src="assets/pictures/20.jpg" alt="Gutter installation services in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('20.jpg'))" />
      <img src="assets/pictures/7.jpg" alt="Building alterations and construction in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('7.jpg'))" />
    </div>
    <div class="dream">
      <img src="assets/pictures/10.jpg" alt="Home improvement project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('10.jpg'))" />
      <img src="assets/pictures/11.jpg" alt="Residential painting project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('11.jpg'))" />
      <img src="assets/pictures/12.jpg" alt="Property renovation in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('12.jpg'))" />
      <img src="assets/pictures/13.jpg" alt="Construction and building work in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('13.jpg'))" />
      <img src="assets/pictures/14.jpg" alt="Home alteration project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('14.jpg'))" />
      <img src="assets/pictures/15.jpg" alt="Exterior painting project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('15.jpg'))" />
      <img src="assets/pictures/16.jpg" alt="Building renovation project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('16.jpg'))" />
      <img src="assets/pictures/17.jpg" alt="Home improvement and alterations in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('17.jpg'))" />
      <img src="assets/pictures/18.jpg" alt="Construction services in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('18.jpg'))" />
      <img src="assets/pictures/9.jpg" alt="Building and renovation work in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('9.jpg'))" />
    </div>
    <div class="dream">
      <img src="assets/pictures/6.jpg" alt="Tiling project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('6.jpg'))" />
      <img src="assets/pictures/21.jpg" alt="Construction project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('21.jpg'))" />
      <img src="assets/pictures/22.jpg" alt="Renovation work in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('22.jpg'))" />
      <img src="assets/pictures/23.jpg" alt="Building project in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('23.jpg'))" />
      <img src="assets/pictures/24.jpg" alt="Home renovation service in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('24.jpg'))" />
      <img src="assets/pictures/25.jpg" alt="Property construction in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('25.jpg'))" />
      <img src="assets/pictures/26.jpg" alt="Building renovation in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('26.jpg'))" />
      <img src="assets/pictures/27.jpg" alt="Construction services in Johannesburg - Partridgewood Projects" (click)="openLightbox(getImageIndex('27.jpg'))" />
    </div>
  </div>
  
  <!-- Lightbox Modal -->
  <div class="lightbox" *ngIf="isLightboxOpen" (click)="closeLightbox()">
    <button class="lightbox-close" (click)="closeLightbox()" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </button>
    <button class="lightbox-nav lightbox-prev" (click)="prevImage(); $event.stopPropagation()" aria-label="Previous image">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </button>
    <button class="lightbox-nav lightbox-next" (click)="nextImage(); $event.stopPropagation()" aria-label="Next image">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
    <div class="lightbox-content" (click)="$event.stopPropagation()">
      <img [src]="getImagePath(currentImageIndex)" [alt]="'Gallery image ' + (currentImageIndex + 1)" />
      <div class="lightbox-counter">{{ currentImageIndex + 1 }} / {{ images.length }}</div>
    </div>
  </div>
</div>
